body {
  background-color: #968888;
  font-size: 25px;
  color: black;
}
img {
  margin-left: 100px;
  float: left;
  align-content: center;
}
h2 {
margin-left: 50px;
}
button {
  margin: 10px;
  padding: 5px;
}
nav {
  margin-bottom: 50px;
  background-color: blue;
}
header {
  height: 100px;
}
footer{
    position:fixed;
    height:30px;
    background-color:red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 15px;
    text-align: right;
  }
  div {
    text-align: center;
  }
.jumbotron {
  /*background-color: #5b504a;*/
  background:transparent;
  text-align: center;
  height: 60px;
}
.results {
  margin-top: 100px;
  /*height: 300px;
  width: 400px;*/
  color: blue;
}
#hand {
  align-content: center;
  margin-left: 450px;
  margin-top: 50px;
}
