

    <img class="img-rounded" width="400" height="350" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKm7jteUC6Uy_BQtQR7WpkHwrTkniRwu5Ngg-aW-2W1lO1kyIDwA">
    <!-- <input type="text" placeholder="name" ng-model="hf.nameIn" /> -->

    <div class="container row results" >
        <div class="col-large-3">
        <h2><button class="btn" ng-click="hf.addHit()">Click to High Five Me!</button></h2>
        <p>Hello!  My Name is: {{ hf.char.name }}<br>
        My skill level: {{ hf.char.skill }}<br>
        Hit results: {{ hf.description }}<br>
        High Five Attempts:{{hf.count}}<br>
        High Five Count:{{hf.hitsCounter}}</p>
        </div>
  </div>
