
  <h2><button class="btn" ng-click="hf.addHit()">Click to High Five Me!</button></h2>

    <img class="img-rounded" width="400" height="350" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfAZGuFBvbM87bxt7oDgxRXahBmaMkvaFtXeMOhoZLePzdNuKl">
    <!-- <input type="text" placeholder="name" ng-model="hf.nameIn" /> -->

  <div class="container row results">
      <div class="col-large-3"><span>Hit results: {{ hf.description }}</span></div><br>
      <div class="col-large-3">High Five Attempts:{{hf.count}}</div><br>
      <div class="col-large-3">High Five Count:{{hf.hitsCounter}}</div><br>
  </div>
 
